body{
    background-color: #FFFFFF;
    color: #001F3F;
    font-family: 'Rubik', sans-serif;
    flex-direction: column;
}
h1{
    font-size: 8rem;
}
section{
    text-align: center;
    padding: 0 3rem;
}
header{
    margin: 1rem 0.5rem;
    height: 3rem;
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 3rem;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.divider{
    height: .125rem;
    width: 30%;
    background-color: #FF851B;
    margin: .5rem auto;
}
.contact{
    justify-content: left !important;
    gap: .3rem;
}
.mini-menu{
    gap: .5rem;
        cursor: pointer;
}
.cube-back{
    width: 100%;
    height: 100%;
    border-radius: .3rem;
    background-size: contain;
    background-image: url(./images/wywiad.png);
}
.cube-background{
    border-radius: .5rem;
    width: 560px;
    height: 315px;
    border: .125rem solid transparent;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #FF851B, #001F3F) border-box;
}
.gallery{
    padding: 2rem 0;
    gap: .7rem;
}
.to-top{
    button{
        border-radius: 50%;
        border: .125rem solid black;
        img{
            padding: .25rem; 
        }
}
}
.active-scroll{
    margin-left: auto;
    position: sticky;
    bottom: 2rem;
    right: 2rem;
}
ul{
    list-style-type: none;
    li:first-child {
        ::before{
            content:'\🧠'; 
            font-size:1.5rem;
            margin-right: .5rem;
        }
    }
    li:last-child {
        ::before{
            content:"\🤝"; 
            font-size:1.5rem;
            margin-right: .5rem;
        }
    }
    li:nth-child(2){
        ::before{
            content:"\⏰"; 
            font-size:1.5rem;
            margin-right: .5rem;
        }
    }
    li:nth-child(3){
        ::before{
            content:"\📚"; 
            font-size:1.5rem;
            margin-right: .5rem;
        }
    }
    li:nth-child(4){
        ::before{
            content:"\🏋🏼"; 
            font-size:1.5rem;
            margin-right: .5rem;
        }
    }
    li {
        padding: .5rem;
        p{
            font-size: 1.2rem;
            color:#FF851B;
        }
    }
      
}
